<!DOCTYPE html>
<html lang="nl" class="{{ pageType }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if noindex %}
  <!-- Add noindex for the help page -->
  {{ noindex | safe }}
  {% endif %}
  <link rel="stylesheet" href="/css/style.css">
  {% if extraCSS %}
  <link rel="stylesheet" href="{{ extraCSS }}">
  {% endif %}
  {% if cmsScript %}
  <script src="{{ cmsScript | safe}}" defer></script>{% endif %}
  <script src="/javascript/script.js" defer></script>
  <script src="https://kit.fontawesome.com/4e41c7d293.js" crossorigin="anonymous" defer></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
  <title>{{ site.name }} | {{ section }}</title>
  {% include "partials/favicon.html" %}
  {% include "partials/open-graph.html" %}
</head>

<body>
  <!-- Navigation -->
  {% include "partials/site-header.html" %}

  <!-- Block content -->
  <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>

  <!-- Footer -->
  {% include "partials/site-footer.html" %}


  <!-- Burger menu (at wider screen size is hidden) -->
  <div class="burger-menu">
    <span id="burger-first-line"></span>
    <span id="burger-middle-line"></span>
    <span id="burger-last-line"></span>
  </div>

  <!-- Up button -->
  <div class="up-button off"><i class="fa-solid fa-circle-chevron-up"></i></div>


</body>

</html>
