{% extends "layouts/base.html" %} {% set pageType = "home-section" %} {% set extraCSS = "/css/help.css" %} {% set
noindex %}
<meta name="robots" content="noindex">{% endset %} {% block content %} <h1>Help</h1>
<div class="side-navigation">
  <ul>
    <li><a href="#interface">Interface</a></li>
    <li><a href="#nieuwsberichten">Nieuwsberichten</a></li>
    <li><a href="#tentoonstellingen">Tentoonstellingen</a></li>
    <li><a href="#ateliers">Ateliers</a></li>
    <li><a href="#home">Home</a></li>
    <li><a href="#info">Info</a></li>
    <li><a href="#inschrijven">Inschrijven</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#uurroosters">Uurroosters</a></li>
  </ul>
</div>

<section class="tutorial-wrapper">
  <h2 id="interface">Interface</h2>
  <div class="screenshots-section">
    <img src="/media/help/main-info3.png" alt="cms page screenshot" loading="lazy" decoding="async">
    <div></div>
    <p>The main <strong>CMS interface</strong>. From here you have access to all the elements that modifiable. The top
      navigation bar has quick acces to <strong>Contents</strong> (screenshot above), <strong>Workflow</strong>,
      <strong>Media</strong> and a quick create button.
    </p>
    <hr>
    <img src="/media/help/main-info4.png" alt="cms page screenshot" loading="lazy" decoding="async">
    <img src="/media/help/main-info5.png" alt="cms page screenshot" loading="lazy" decoding="async">
    <p>The <strong>Workflow</strong> page reflects the current state of the posts. When creating a new post it should be
      saved as a <em>Draft</em>. After that the state of the post can be changed to <em>In Review</em> or
      <em>Ready</em>. If the post is
      <em>Ready</em> the publish button will be active (in the workflow interface and also in the editing interface).
    </p>
    <hr>
    <img src="/media/help/main-info2.png" alt="cms page screenshot" loading="lazy" decoding="async">
    <img src="/media/help/main-info1.png" alt="cms page screenshot" loading="lazy" decoding="async">
    <p>The <strong>Media</strong> page has access to all available media. There are options as upload, download. When
      looking for specific files it is encouraged to <strong>use the provided search</strong>.</p>
  </div>

</section>

<section class="tutorial-wrapper">
  <h2 id="nieuwsberichten">Nieuwsberichten</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/post-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
    </div>
    <div class="published"><img src="/media/help/post-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-optional"><span>2.0 Optional</span></li>
          <li class="clr-required"><span>3.0 Required</span></li>
          <li class="clr-optional"><span>4.0 Optional</span></li>
          <li class="clr-optional"><span>5.0 Optional</span></li>
          <li class="clr-optional"><span>6.0 Optional</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="tutorial-wrapper">
  <h2 id="tentoonstellingen">Tentoonstellingen</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/expo-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
    </div>
    <div class="published"><img src="/media/help/expo-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-optional"><span>2.0 Optional</span></li>
          <li class="clr-optional"><span>3.0 Optional</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="tutorial-wrapper">
  <h2 id="ateliers">Ateliers</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/atelier-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-required"><span>2.0 Required</span></li>
          <li class="clr-required"><span>3.0 Required</span></li>
          <li class="clr-optional"><span>4.0 Optional</span></li>
          <li class="clr-optional"><span>5.0 Optional</span></li>
          <li class="clr-optional"><span>6.0 Optional</span></li>
          <li class="clr-optional"><span>7.0 Optional</span></li>
          <li class="clr-optional"><span>8.0 Optional</span></li>
        </ul>
      </div>
    </div>
    <div class="published"><img src="/media/help/atelier-site.jpg" alt="webpage screenshot" loading="lazy"
        decoding="async"> </div>
  </div>
</section>

<section class="tutorial-wrapper">
  <h2 id="home">Home</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/home-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
    </div>
    <div class="published"><img src="/media/help/home-site.jpg" alt="webpage screenshot" loading="lazy"
        decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-optional"><span>1.0 Optional</span></li>
          <li class="clr-required"><span>2.0 Required</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="tutorial-wrapper">
  <h2 id="info">Info</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/info-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-optional"><span>2.0 Optional</span></li>
          <li class="clr-optional"><span>3.0 Optional</span></li>
          <li class="clr-optional"><span>4.0 Optional</span></li>
          <li class="clr-optional"><span>5.0 Optional</span></li>
          <li class="clr-autofill"><span>6.x Auto fill</span></li>

        </ul>
      </div>
    </div>
    <div class="published"><img src="/media/help/info-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async"> </div>
  </div>
</section>
<section class="tutorial-wrapper">
  <h2 id="inschrijven">Inschrijven</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/inschrijven-cms.png" alt="cms page screenshot" loading="lazy"
        decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-optional"><span>2.0 Optional</span></li>
          <li class="clr-optional"><span>3.0 Optional</span></li>
          <li class="clr-optional"><span>4.0 Optional</span></li>
          <li class="clr-autofill"><span>4.x Auto fill</span></li>
          <li class="clr-optional"><span>5.0 Optional</span></li>
        </ul>
      </div>
    </div>
    <div class="published"><img src="/media/help/inschrijven-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async"> </div>
  </div>
</section>
<section class="tutorial-wrapper">
  <h2 id="contact">Contact</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/contact-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
    </div>
    <div class="published"><img src="/media/help/contact-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
          <li class="clr-required"><span>2.0 Required</span></li>
          <li class="clr-required"><span>3.0 Required</span></li>
          <li class="clr-required"><span>4.0 Required</span></li>
          <li class="clr-required"><span>5.0 Required</span></li>
          <li class="clr-required"><span>6.0 Required</span></li>
          <li class="clr-optional"><span>7.0 Optional</span></li>
          <li class="clr-optional"><span>8.0 Optional</span></li>
          <li class="clr-optional"><span>9.0 Optional</span></li>
          <li class="clr-optional"><span>10.0 Optional</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="tutorial-wrapper">
  <h2 id="uurroosters">Uurroosters</h2>
  <div class="tutorial-container">
    <div class="cms"><img src="/media/help/timetable-cms.png" alt="cms page screenshot" loading="lazy" decoding="async">
      <div class="tut-text">
        <ul>
          <li class="clr-required"><span>1.0 Required</span></li>
        </ul>
      </div>
    </div>
    <div class="published"><img src="/media/help/timetable-site.png" alt="webpage screenshot" loading="lazy"
        decoding="async"> </div>
  </div>
</section> {% endblock %}
