@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&family=Monoton&display=swap");

/* font-family: 'Exo', sans-serif; */
/* font-family: 'Monoton', cursive; */

._404-wrapper {
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px dotted crimson; */
  padding-block: 3rem;
}
._404-wrapper * {
  margin-block: 0.5rem;
}
._404-number {
  font-family: "Exo", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: var(--clr-font-dark);
}
._404-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(0, 0%, 40%);
  text-align: center;
}
