.inschrijven-top-info {
  margin-bottom: 6rem;
}
.inschrijven-top-info img {
  width: 3rem;
  margin-left: 1rem;
}
details {
  margin-top: 4rem;
}
#lessenrooster {
  margin-bottom: 6rem;
}

article {
  margin-bottom: 4rem;
}
