<!-- Open Graph protocol -->
<meta property="og:site_name" content="Jan Portaels" />
<meta property="og:title" content="Academie voor beeldende kunsten Vilvoorde" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{{ site.url }}media/og-image-1200x630.png" />
<meta name="twitter:image" content="{{ site.url }}media/og-image-1200x630.png" />
<meta property="og:image:alt" content="Page image for Jan Portaels Art School" />
<meta name="twitter:image:alt" content="Page image for Jan Portaels Art School" />

<meta name="description" content="{{ site.desc }}" />
<meta name="twitter:description" content="{{ site.desc }}" />
<meta property="og:description" content="{{ site.desc }}" />
